* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS ============================================================ */
/* Application */
.app {
  background-color: rgb(58, 83, 107);
}

/* Header */
.header {
  background-color: aquamarine;
}

.header h1 {
  text-align: center;
  font-weight: 800;
  font-size: 70px;
}

.header h4 {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}

/* Map */
.map {
  margin-top: 30px;
  margin-bottom: 30px;
}

.map .flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* Map Results Section */
.map .map-results {
  background-color: gray;
  padding: 20px;
  border: 5px black solid;
}

.map .map-results h1, 
.map .map-results p,
.map .map-results h2,
.map .map-results ol,
.map .map-results li {
  text-align: center;
  margin-top: 20px;
}

.map .map-results h1 {
  font-size: 40px;
}

.map .map-results h2 {
  font-size: 20px;
}

/* Table */
.table-map-results tr th {
  background-color: aquamarine;
}

.table-map-results .rowClass {
  background-color: white;
}

.table-map-results tr td {
  padding-left: 25px;
  padding-right: 25px;
}

.table-map-results .rowClass:hover {
background-color: yellow;
}

/* Legend */
.map .legend {
  text-align: center;
  margin-top: 80px;
  border: 5px solid black;
  padding: 50px;
  background-color: gray;
  display: flex;
  align-items: center;
}

.map .legend p {
  margin: 0px;
  padding: 5px 10px;
}

.map .legend .tag {
  margin: 0px;
  padding: 5px 70px;
  background-color: white;
}

.map .legend .tag-none {
  margin-right: 30px;
}

.map .legend #colorNone {
  background-color: #00FFFF;
}

.map .legend #colorOne {
  background-color: #FF6600;
}

.map .legend #colorTwo {
  background-color: #FF944D;
}

.map .legend #colorThree {
  background-color: #FFC299;
}

.map .legend #colorFour {
  background-color: #808080;
}

.map .legend #colorFive {
  background-color: #8A8AFF;
}

.map .legend #colorSix {
  background-color: #0000FF;
}

.map .legend #colorSeven {
  background-color: #000075;
}

/* Footer */
footer {
  width: 100%;
  background-color: aquamarine;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 80px;
}

.footer .footer-instructions, .footer .footer-section-links,
.footer .footer-instructions a {
  text-align: center;
  text-decoration: none;
}

.footer .icon {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer #github-icon {
  color: black;
}

.footer #linkedin-icon {
  color: blue;
}

.footer #linkedin-icon:hover, .footer #github-icon:hover {
  color: yellow;
}